{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 100,
      }
    ]
  }
}
